
.CoverPage--img{
  width: 100%;
}
.CoverPage--ctn{
  position: absolute;
  width: 554px;
  height: 110px;
  left: 166px;
  top: 251px;
}
.CoverPage--ctn-h1{
  font-size: 3rem;
  color: #18191F;
  font-weight: normal;
  font-style: normal;
  line-height: 55px;
}
.CoverPage--ctn-h3{
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color:#18191F
}
.CoverPage--btn{
  width: 150px;
  height: 40px;
  background: #6200EE;
  border-radius: 2px;
  border: none;
  color: #F8F7F4;
  position: absolute;
  left: 166px;
  top: 468px;
}