.Gastronomy{
  width:100%;
  height: 572px;
  background-image: url('../../images/coverpage-gastronomy.jpg');
  background-size: cover;
  background-position: center;
}
.Gastronomy > div{
  padding-left: 166px;
  padding-top: 117px;
}
.Gastronomy--ctn {
  width: 65%;
  padding: 15% 10%;
}
.Gastronomy--migas{
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #5F5F5F;
}
.migas--strong{
  color: #6200EE;
}
.Gastronomy--ctn-h1{
  font-size: 2.5rem;
  color: #18191F;
  font-weight: normal;
  font-style: normal;
  line-height: 55px;
}
.Gastronomy--ctn-h3{
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  color:#18191F
}
.Gastronomy--img{
  width: 100%;
  height: 572px;
}