.containerFooter {
  background-color: #6200ee;
  color: #ffffff;
  font-family: "nunito";
}
.containerFooter p {
  font-size: 12px;
}

.containerFooter h5 {
  font-size: 24px;
}

.text-box {
  width: 380px;
}

.containerFooter h3 {
  font-size: 14px;
}

.h-40px {
  height: 40px;
}

.containerFooter a {
  color: #ffffff;
}
.containerFooter a:hover {
  color: #9b55ff;
  text-decoration: none;
}

.number-box {
  color: #ffffff;
  padding: 8px 0px 2px 4px;
  border-top: 0px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 1px solid #ffffff;
  border-left: 0px solid transparent;
  background-color: transparent;
  width: 250px;
  max-width: 100%;
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  font-weight: 400;
  display: inline;
}

.btn-descargar {
  width: auto;
  text-align: center;
  padding: 10px 30px;
  background: #9b55ff;
  border-radius: 8px;
  border: 0px solid transparent;
  text-transform: none;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

@media screen and (max-width: 641px) {
  .text-box {
    width: 300px;
  }
}
