@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

header{
  position: fixed;
  z-index: 2000;
  width: 100%;
  height: 76px; 
  background-color: #ffffff;
  font-size: 1rem;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-weight: normal;
}
header li a{
  color: #9B55FF;
  text-decoration: none;
}
header li a:hover{
  color: #6200EE;
  text-decoration: none;
}
.Header--ul-1{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 76px;
}
.Header--ul-1-home{
  margin-left: 15px;
  margin-right: 213px;
}

.Header--ul-2{
  margin-left: 40px;
}
.help{
  margin-right: 49px;
}

.Header-logo{
  width: 150px;
  height: 39.71px;  
}
.Header--list{
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 162px;
  padding-right: 162px;
}
.dropdown a{
  color: #9B55FF;
}
.dropdownlist{
  margin-bottom: 9px;
  align-items: center;
  text-align: center;
}
.dropdownlist a:hover{
  color: #6200EE;
  text-decoration: none;
}