.hero-points{
    width:100%;
    height: 572px;
    background-image: url('../../images/hero-points.jpeg');
    background-size: cover;
    background-position: center;
}

.hero-points > div{
    width:65%;
    padding: 15% 10%;
}

.hero-points > div> h1{
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    line-height: 3.438rem;
    text-align: left;
    color: #18191F;
}

.hero-points > div >h3{
font-family: 'Nunito', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 1.75rem;
line-height: 2.375rem;
text-align: left;
color: #5F5F5F;
}